<!DOCTYPE html>
<html lang="en">
  <!-- import head -->
  <%- include('./includes/head')%>
  <body>
    <!-- import nav -->
    <%- include('./includes/nav') %>
    <!-- body content -->
    <h1>Stall eCommerce v2</h1>
    <h4>a multi-vendor ecommerce website in react and node</h4>

    <!-- import footer -->
    <%- include('includes/footer') %>
  </body>
</html>
