nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  ul.navbar-nav
    li.nav-item: a.nav-link(data-widget="pushmenu" href="#" role="button"): i.fas.fa-bars
    li.nav-item.d-none.d-sm-inline-block: a.nav-link(href="/dashboard") Dashboard
    //- li.nav-item.d-none.d-sm-inline-block: a.nav-link(href="#") Contact
  form.form-inline.ml-3: .input-group.input-group-sm
    input.form-control.form-control-navbar(type="search" placeholder="Search" aria-label="Search")
    .input-group-append: button.btn.btn-navbar(type="submit"): i.fas.fa-search
  ul.navbar-nav.ml-auto


    li.nav-item
      a.nav-link(data-widget="control-sidebar" data-slide="true" href="#" role="button")
        i.fas.fa-th-large
